.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.header {
  background-color: #c4200a;
}

.subheader {
  background-color: #a71a09;
}

.div-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.g95 {
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.notici-rio-especial {
  color: #fff;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.t-tulo-heading-1 {
  direction: ltr;
  color: #000;
  text-transform: none;
  white-space: normal;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}

.par-grafo {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.detalhes {
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.atualiza-o {
  font-size: 10px;
}

.linha {
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.conteiner-conte-do {
  padding-left: 145px;
  padding-right: 145px;
}

.conte-do {
  width: 100%;
  height: auto;
  margin-top: 10px;
  font-family: Open Sans, sans-serif;
}

.imagem-blog {
  width: auto;
  object-fit: fill;
  border-radius: 13px;
  margin-bottom: 0;
  display: inline-block;
}

.imagem-conte-do-div {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.negrito {
  color: #000;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
}

.texto-conte-do {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  line-height: 25px;
}

.texto-conte-do.numero {
  padding-right: 10px;
  font-size: 25px;
  font-weight: 700;
}

.bloco-conte-do {
  padding-bottom: 20px;
}

.red-line {
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
  display: flex;
}

.block-red-line {
  width: 25px;
  background-color: #c4160d;
  margin-right: 30px;
  padding-top: 0;
}

.bold-text {
  color: #000;
  text-align: left;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.produ-o {
  margin-bottom: 20px;
}

.text-span, .bold-text-2 {
  background-color: #f2d1ce;
}

.zoom, .tudo-branco {
  width: 100%;
  margin-bottom: 20px;
}

.bold-text-3 {
  background-color: #f2d1ce;
}

.bold-text-4 {
  background-color: #f2d1ce;
  text-decoration: underline;
}

.link-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  text-align: center;
  text-transform: uppercase;
  background-color: #c4160d;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  display: block;
  box-shadow: 0 1px 3px 1px #000;
}

.garantia {
  width: 500px;
  height: auto;
  text-align: left;
  margin-top: 10px;
  display: block;
}

.bloco-garantia {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  display: flex;
}

.primeira-parte-footer {
  background-color: #c4180d;
}

.segunda-parte-footer {
  background-color: #a71a09;
}

.bloco-primeira-parte-footer {
  padding-top: 0;
  padding-bottom: 20px;
}

.g95-footer {
  width: 60px;
  height: 60px;
}

.bloco-95 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.links-footer {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.bloco-links-footer {
  justify-content: center;
  align-items: center;
  display: flex;
}

.segunda-parte-footer-disclaimer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright, .disclaimer {
  color: #fff;
}

.disclaimer.disc2 {
  color: #a7290a;
}

.t-picos {
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
}

.t-picos.topicocheck {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 18px;
}

.t-picos.padding {
  padding-bottom: 20px;
}

.t-picos.titulo {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
}

.text-block {
  color: #fff;
  padding-top: 10px;
}

.text-span-2, .bold-text-5 {
  -webkit-text-stroke-color: #ec0000;
}

.link {
  color: red;
  -webkit-text-stroke-color: red;
  text-decoration: none;
}

.link-block-2 {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.por-apenas {
  font-size: 20px;
}

.pre-o-antigo {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
  display: none;
}

.pre-o-vista {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.bold-text-7 {
  font-weight: 400;
}

.frete-gratis {
  text-transform: uppercase;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.div-block-frete {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.div-block-coluna {
  max-width: 380px;
  text-align: center;
  mix-blend-mode: normal;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  display: flex;
  box-shadow: 0 0 6px -3px #000;
}

.image {
  padding-top: 0;
  padding-bottom: 0;
}

.pre-o-divido {
  color: #a71a09;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
}

.bold-text-6 {
  font-weight: 400;
}

.compre-agora {
  background-color: #a71a09;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: space-around;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  display: block;
}

.tamanho-produto {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}

.grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: stretch;
  justify-items: center;
  margin-bottom: 30px;
}

.link-2 {
  color: red;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.bold-text-8 {
  font-size: 38px;
  line-height: 40px;
}

.rojo {
  color: #c52d28;
  text-align: center;
  font-size: 17px;
}

.div-block {
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-around;
  padding-top: 0;
  display: flex;
}

.text-span-3 {
  font-weight: 400;
}

.image-3 {
  width: 500px;
  height: auto;
  max-width: 500px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.div-block-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-block-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.link-block-3 {
  width: 100%;
}

.div-block-4 {
  text-align: center;
}

.div-block-5 {
  text-align: center;
  background-color: #f3f3f3;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.text-span-4 {
  color: #c4170c;
  font-size: 20px;
}

.body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.link-3, .link-4, .link-5, .link-6 {
  color: #c4170c;
  font-weight: 700;
  text-decoration: none;
}

.div-block-6 {
  align-items: flex-start;
  display: flex;
}

.link-block-4 {
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.link-block-5 {
  width: 100%;
  text-align: center;
}

.grid-2 {
  grid-template-rows: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold-text-9 {
  font-size: 18px;
  line-height: 18px;
}

.titulocheck {
  align-items: center;
  padding-top: 20px;
  display: flex;
}

.html-embed {
  padding-right: 0;
}

.text-span-5 {
  color: #0db80d;
}

.div-block-7 {
  width: 100%;
  text-align: center;
}

.image-4 {
  width: auto;
}

.link-7, .link-8, .link-9, .link-10, .link-11, .link-12, .link-13, .link-14, .link-15, .link-16, .link-17 {
  color: #000;
}

.link-18, .link-19 {
  color: #c52d28;
  font-weight: 700;
}

.text-span-6 {
  opacity: 1;
  background-color: #ffcfcf;
}

.text-span-7 {
  background-color: #ffcfcf;
}

.text-block-2 {
  color: #fff;
  font-size: 25px;
}

.text-span-8, .text-span-9 {
  color: red;
  font-weight: 700;
}

.text-span-10 {
  color: red;
  font-weight: 700;
  text-decoration: none;
}

.link-20 {
  text-decoration: none;
}

.bold-text-10 {
  color: #565656;
  font-size: 17px;
  font-weight: 400;
}

.heading-2 {
  margin-top: 0;
}

.bold-text-11 {
  font-weight: 400;
}

.text-span-11 {
  font-weight: 700;
}

.div-block-9 {
  width: 100%;
  padding: 20px 100px;
}

.link-21 {
  color: #c4170c;
  font-weight: 700;
  text-decoration: none;
}

.text-span-12, .text-span-13 {
  color: #c4170c;
  font-weight: 700;
}

.grid-3 {
  grid-template-rows: auto;
}

.columns {
  align-items: center;
  display: flex;
}

.column-2 {
  padding-left: 10px;
}

.imagem-blog-2 {
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 0;
}

.imagem-blog-3 {
  width: auto;
  object-fit: fill;
  border-radius: 13px;
  margin-bottom: 0;
}

.bold-text-12 {
  text-decoration: none;
}

.link-22 {
  color: #c4160d;
  text-decoration: none;
}

.bold-text-13, .bold-text-14 {
  color: #c4160d;
}

.section {
  justify-content: center;
}

.link-block-7 {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.image-5 {
  width: 100%;
  height: auto;
}

.heading-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-span-14, .text-span-15, .text-span-16, .text-span-17, .text-span-18 {
  color: red;
}

.link-23 {
  color: red;
  font-weight: 700;
  text-decoration: underline;
}

.text-span-19, .text-span-20, .text-span-21, .text-span-22 {
  color: red;
}

.titulo-da-sess-o-4 {
  color: #000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

.div-block-coluna-9 {
  max-width: 300px;
  text-align: center;
  mix-blend-mode: normal;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  display: flex;
  box-shadow: 0 0 6px -3px #000;
}

.bold-text-54 {
  font-weight: 600;
}

.container-11 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.pre-o-divido-2 {
  color: #00d864;
  -webkit-text-stroke-color: #00d864;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.image-60 {
  border-radius: 8px;
  padding-top: 0;
  padding-bottom: 0;
}

.compre-agora-12 {
  width: auto;
  max-width: 200px;
  text-align: center;
  background-color: #00d864;
  border-radius: 8px;
  flex: 0 auto;
  justify-content: space-around;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  display: block;
}

.cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.oferta {
  margin-bottom: 25px;
}

.tamanho-produto-5 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
}

.list {
  text-align: left;
}

.link-24, .link-25 {
  color: #c4170c;
  font-weight: 700;
  text-decoration: none;
}

.text-span-23 {
  background-color: #f3d1ce;
}

.text-span-24, .text-span-25 {
  color: #c4170c;
  font-weight: 700;
}

.bold-text-55, .bold-text-56, .bold-text-57 {
  color: #c4170c;
}

.bold-text-58 {
  background-color: #f3d1ce;
}

.bold-text-59, .bold-text-60, .bold-text-61, .bold-text-62, .bold-text-63, .bold-text-64, .text-span-26, .bold-text-65, .bold-text-66, .bold-text-67 {
  color: #c4170c;
}

.link-26, .text-span-27, .link-27, .link-28 {
  color: #c4170c;
  font-weight: 700;
}

.text-span-28 {
  background-color: #f3d1ce;
}

.bold-text-68 {
  color: #c4170c;
}

.div-block-10 {
  text-align: center;
  border: 3px solid #cb9903;
  padding: 20px;
}

.image-62 {
  width: 100%;
  height: auto;
  aspect-ratio: auto;
  object-fit: cover;
}

.text-span-29 {
  color: red;
}

.image-63, .div-block-11 {
  display: none;
}

.bold-text-69 {
  color: red;
  text-decoration: none;
}

.link-29 {
  text-decoration: none;
}

.link-30 {
  color: red;
  font-weight: 700;
  text-decoration: none;
}

.image-65, .image-66 {
  width: 100%;
  height: auto;
}

.bold-text-70, .bold-text-71 {
  font-weight: 400;
}

@media screen and (min-width: 1280px) {
  .image-3, .imagem-blog-2, .image-5 {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .container, .conteiner-conte-do {
    padding-left: 20px;
    padding-right: 20px;
  }

  .conte-do {
    margin-top: 30px;
  }

  .block-red-line {
    margin-right: 20px;
  }

  .conteiner-footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .primeira-parte-footer {
    background-color: #c4160d;
  }

  .segunda-parte-footer {
    background-color: #a7140a;
  }

  .bloco-primeira-parte-footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .bloco-95 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .links-footer {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
  }

  .bloco-links-footer {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .segunda-parte-footer-disclaimer {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .copyright {
    color: #fff;
    text-align: center;
  }

  .disclaimer {
    color: #fff;
    text-align: center;
    padding-top: 5px;
  }

  .frete-gratis {
    margin-left: 0;
  }

  .div-block-coluna {
    max-width: 350px;
  }

  .compre-agora {
    padding-left: 40px;
    padding-right: 40px;
  }

  .grid {
    align-content: stretch;
    justify-content: stretch;
  }

  .image-2 {
    margin-left: 20px;
  }

  .navbar {
    display: block;
  }

  .div-block-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .columns {
    align-items: center;
    display: flex;
  }

  .section {
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .div-block-coluna-9 {
    max-width: 300px;
  }

  .compre-agora-12 {
    padding: 15px;
  }

  .image-61 {
    margin-left: 20px;
  }

  .div-block-11 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .t-tulo-heading-1 {
    margin-bottom: 0;
    font-size: 38px;
    line-height: 1.1;
  }

  .par-grafo {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.3;
  }

  .conteiner-conte-do {
    padding-left: 30px;
    padding-right: 30px;
  }

  .conte-do {
    margin-top: 0;
  }

  .texto-conte-do {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .block-red-line {
    margin-right: 15px;
  }

  .links-footer {
    color: #fff;
    text-decoration: none;
  }

  .frete-gratis {
    margin-left: 10px;
  }

  .div-block-frete {
    justify-content: space-between;
    align-items: center;
  }

  .div-block-coluna {
    margin: 10px 5px;
  }

  .grid {
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .image-2 {
    margin-left: 0;
  }

  .navbar {
    display: none;
  }

  .column {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .columns {
    flex-direction: column;
  }

  .column-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .imagem-blog-2 {
    object-fit: contain;
  }

  .imagem-blog-3 {
    margin-top: 20px;
  }

  .titulo-da-sess-o-4 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.2;
  }

  .div-block-coluna-9 {
    max-width: 350px;
    margin: 10px 15px;
  }

  .column-26 {
    justify-content: center;
    display: flex;
  }

  .compre-agora-12 {
    padding: 15px;
  }

  .column-25 {
    justify-content: center;
    display: flex;
  }

  .image-61 {
    margin-left: 0;
  }

  .image-63 {
    text-align: center;
    display: block;
  }

  .image-64 {
    display: none;
  }

  .div-block-11 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .t-tulo-heading-1 {
    margin-top: 10px;
    font-size: 28px;
    line-height: 1.1;
  }

  .par-grafo {
    color: #000;
  }

  .detalhes {
    justify-content: flex-start;
  }

  .promo-o {
    margin-right: 10px;
  }

  .patrocinado {
    font-size: 12px;
  }

  .conteiner-conte-do {
    padding-left: 20px;
    padding-right: 20px;
  }

  .imagem-blog {
    border-radius: 11px;
    margin-bottom: 0;
  }

  .texto-conte-do {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
  }

  .block-red-line {
    margin-right: 15px;
    line-height: 25px;
  }

  .heading {
    font-size: 20px;
    line-height: 30px;
  }

  .bloco-cta {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .bloco-primeira-parte-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .links-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .links-footer.meio {
    display: none;
  }

  .bloco-links-footer {
    flex-direction: column;
  }

  .t-picos {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .text-span-2 {
    text-decoration: none;
  }

  .bold-text-5 {
    color: #ec0000;
    text-decoration: none;
  }

  .link {
    text-decoration: none;
  }

  .div-block-coluna {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .image {
    height: 200px;
    object-fit: contain;
  }

  .compre-agora {
    padding-left: 65px;
    padding-right: 65px;
  }

  .grid {
    grid-template: "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .bold-text-8 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }

  .image-3 {
    width: 100%;
  }

  .div-block-3 {
    flex-direction: column;
  }

  .div-block-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid-2 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .bold-text-10 {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: 400;
  }

  .div-block-8, .link-block-6 {
    align-self: flex-start;
  }

  .heading-2 {
    color: #595959;
    font-size: 14px;
  }

  .text-block-3 {
    font-size: 13px;
  }

  .div-block-9 {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .imagem-blog-2 {
    object-fit: contain;
    border-radius: 11px;
    margin-bottom: 0;
  }

  .imagem-blog-3 {
    border-radius: 11px;
    margin-bottom: 0;
  }

  .titulo-da-sess-o-4 {
    font-size: 25px;
  }

  .div-block-coluna-9 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .compre-agora-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}


